.networking{
display: inline;
position: relative;
left: 25%;
}

.icon-img{
    width: 150px;
}
.all-networking{
    position: relative;
    top: 350px;
}

.networking-user{
text-align: center;
font-size: xx-large;
}

.networking-text{
    font-size: x-large;
}